button {
    width: 100%;
    font-size: 6vw;
    border: 3px outset black;
    border-radius: 100%;
    display: inline-block;
}

textarea {
    font-size: 4vw;
    font-family: monospace;
    overflow: hidden;
    resize: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}

html,body {
    height: 100vh;
}

#buf {
    width: 100vw;
    height: 8vw;
    font-size: 6vw;
}


.buttons {
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
}

#out {
    width: 100vw;
    height: calc(100vh - 108vw);
}
