:root {
    --navbar-hover-animation-duration: 0.5s;
}


@media only screen and (orientation: portrait) {
    :root {
        --responsive-font-size: 2vh;
    }
}

@media only screen and (orientation: landscape) {
    :root {
        --responsive-font-size: 1vw;
    }
}

body {
    font-family: monospace;
    font-size: var(--responsive-font-size);
}

nav {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (hover: hover) {
    .nav-link {
        transition: background-color var(--navbar-hover-animation-duration);
    }
}

.nav-link {
    width: calc(6 * var(--responsive-font-size));
    padding: 5px;
    color: white;
    background-color: blue;
    text-decoration: none;
    margin: 1px;
    border: 5px outset black;
}

@media (hover: hover) {
    .nav-link:hover {
        transition: var(--navbar-hover-animation-duration);
        background-color: darkred;
    }
}