:root {
    --navbar-hover-animation-duration: 0.5s;
}


@media only screen and (orientation: portrait) {
    :root {
        --responsive-font-size: 2vh;
    }
}

@media only screen and (orientation: landscape) {
    :root {
        --responsive-font-size: 1.2vw;
    }
}

body {
    font-family: serif !important;
    font-size: var(--responsive-font-size) !important;
    background-color: #ffffff;
}

nav {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-link {
    /* width: calc(6 * var(--responsive-font-size)); */
}

button {
    font-family: serif !important;
    font-size: var(--responsive-font-size) !important;
}

label {
    font-size: var(--responsive-font-size) !important;
}

input {
    font-size: var(--responsive-font-size) !important;
}

legend {
    font-size: var(--responsive-font-size) !important;
}

input[type="checkbox"] {
    width: var(--responsive-font-size);
    height: var(--responsive-font-size);
}

textarea {
    font-size: var(--responsive-font-size);
}
