img, video {
    border: 5px ridge black;
}

@media only screen and (orientation: landscape) {
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
}

pre {
    white-space: pre-wrap;
}
